main {
	padding: 30px;
}

.d2l-max-width {
	margin: 0 auto;
	max-width: 1230px;
}

.d2l-shim-body-overflow {
	overflow: hidden;
	position: fixed;
}

.d2l-offscreen {
	word-wrap: normal !important;
	position: absolute !important;
	left: -10000px;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
